<!--<app-recipes-detail-->
<!--  *ngIf="selectedRecipe;else notSelected"-->
<!--  [recipe]="selectedRecipe"></app-recipes-detail>-->
<!--<ng-template #notSelected>-->
<!--  <h2>Please select a Recipe</h2>-->
<!--</ng-template>-->
  <div class="row">
    <div class="col-xs-12">
        <img   [src]="recipe.imagePath"
        alt=""
         class="img-responsive"
         style="max-height: 200px;">
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div appDropdown class="btn-group ">
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="addToSL()">to  Shopping list</a></li>
                <li><a routerLink="edit" style="cursor: pointer"> Edit Recipe</a></li>
                <li><a style="cursor: pointer" (click)="onDelete()"> Delete Recipe</a></li>

            </ul>

        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
      <strong>
        {{recipe.description}}
      </strong>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">

        <ul class="list-group">
          <li class="list-group-item"
          *ngFor="let ing of recipe.ingredients"  >
          {{ing.name}} -- {{ing.amount}}
        </li>

          </ul>

    </div>
</div>

